{
    "presets": [
        "react",
        [
            "latest", {
                "modules": false
            }
        ]
    ],

    "plugins": [
        "transform-react-jsx",
        "transform-runtime"
    ],

    "ignore": [
        "node_modules/**/*"
    ]
}